*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather',inter ,serif;
}
.banner{
    background-image: url('images/banner-image.png');
    background-repeat: no-repeat;
    height:100% ;
    min-height:600px ;
    width: 100%;
    max-width:1300px ;
    border-radius: 10px;
    margin-left: 100px;
}
.title-one{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}
.title-two{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* holiday-deals style */
.holiday-deals{
    height:100% ;
    min-height:600px ;
    width: 100%;
    max-width:1300px ;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.primary-color{
    color: #F00;
    font-family: Inter;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.holiday-deals>p{
    color: #F00;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px; 
    padding: 20px;  
}
.holiday-deals>h2{
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
.holiday-deals>img{
    width: 800px;
    height: 500px;
    margin-left: 250px;

    
}
/* midnight party section style */
.midnight-party{
    background-image: url(images/vector.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height:100% ;
    min-height:600px ;
    width: 100%;
    max-width:1300px ;
    margin-left: 100px;

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content>h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
}
.content>p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    padding: 20px ;
    padding-left: 130px;
    max-width: 700px;
}
.content>button{
    border: none;
    color: #FFF;
    background-color: transparent;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: auto;
    padding-left: 150px;
    
    
}.img{
    padding: 80px 100px 70px 0;
}
/* place and date, time section style */
.place-date-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100% ;
    min-height:500px ;
    width: 100%;
    max-width:1300px ;
    margin-left: 100px;
    background-color: rgba(255, 0, 0, 0.05);

}
.place-date-sec>h4{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    
}
.highlight-text{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.one{
    padding-left: 100px;
}
.two{
    padding-left: 40px;
}
.highlight-button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: #F00;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 40px;

}
/* new best offer section style */
.new-offer-coming-soon{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:100% ;
    min-height:500px ;
    width: 100%;
    max-width:1300px ;
    margin-left: 100px;
    margin-top: 100px;
}
.text-content>h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.text-content>h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.text-content>p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}
.image{

    width:450px;
    height:450px;
    border: 15px solid #F00;
    border-radius: 60%;
}
.image>img{
    padding: 40px
}
.text-and-image>h1{
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top:   100px;
    padding-bottom: 10px;
}
.text-and-image>p{
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 30px;
    width: 280px;
}
/* holidays-sale-section  */
.holidays-sale{
    width: 100%;
    max-width: 1320px;
    margin-top: 100px;
    margin-left: 100px;
}
.container-sale{
    height:100% ;
    min-height:650px ;
    width: 100%;
    max-width:1300px ;
    background-image: url("images/rectangle-2.png") ,url(images/rectangle-1.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: bottom ,top right;
}
.holidays-sale>h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.holidays-sale>h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}.holidays-sale>p{
   color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    padding: 50px;
}
.discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #F00;
    border:10px solid white ;
    border-radius: 50%;
    margin-top: 120px;
    transform: rotate(-40deg);
}
.discount>h1{
    color: #FFF;
    font-family: Inter;
    font-size: 73px;
    font-weight: 700;
}
.discount>h4{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
}
/*  portfolio section  */
.portfolio{
    width: 100%;
    max-width: 1300px;
    margin-left: 100px;
    margin-top: 100px;
}
.portfolio>h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.portfolio>h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0 20px;
}
.portfolio>p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 890px;
}

.portfolio-images{
    display: flex;
    flex-direction: column; 

}
.image-container1{
    display: flex;
}
.image-container2{
    display: flex;
}
.img-p{
    height:451px ;
    width:424px ;
    transition: transform 0.5s ease;
    margin: 10px;
}
.img-p:hover{
    transform: scale(1.2);
}
/* subscribe styles */
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 0, 0.05);
    height:100% ;
    min-height:600px ;
    width: 100%;
    max-width: 1320px;
    margin-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.subscribe>h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-top: 40px;
}
.subscribe>p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 900px;
    padding-top: 40px;
}
.feedback{
    display: flex;
}
.input-feedback{
    width: 500px;
    background: #FFF;
    margin-top: 50px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    position: relative;
    padding-left: 10px;
    line-height: 5px;

}
.subscribe-button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background-color: #F00;
    padding: 24px 56px;
    border: none;
    margin-top: 50px;
}
/* footer section */
footer{
    height:100% ;
    min-height:600px ;
    width: 100%;
    max-width:1500px ;
    background: #070211;
    margin-top: 100px;

}
.footer-contact{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 140px 300px 50px 140px;
}
.phone-web, a{
    color: #FFF;
    text-decoration: none;
}
.footer-images-container{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding: 50px;
    border-top:1px solid rgba(255, 255, 255, 0.15); ;
    border-bottom:1px solid rgba(255, 255, 255, 0.15); ;
}
.footer-images>img{
    padding: 20px;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding-top: 50px;
    padding-left:140px;
    padding-right: 140px;

}
.footer-copyright>p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.footer-copyright>button{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background-color: transparent;
    border: none;
}